#process-info td {
	border: solid 1px black; 
	padding-left: 10px;
	line-height: 30px;
}

#process-info table .info-label{
	background-color: #CFF1A5;
}
#process-range{
	display: inline-block;
	width: 100%;
	text-align: center;
}
#process-range div:first-child{
	display: inline-block;
}
#process-info{
	display: inline-block;
}